  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

  :root {
    --mobile: 375px;
    --desktop: 1440px;
    --colorViolet: hsl(257, 40%, 49%);
    --colorSoftMagenta: hsl(300, 69%, 71%);
    --font-family-headings: 'Open Sans', sans-serif;
    --font-family-body: 'Poppins', sans-serif;
    --paddingLength: 10px;
    --padding: var(--paddingLength) var(--paddingLength) var(--paddingLength) var(--paddingLength);
    --font-size: 14px;
  }

  * {
    min-width: 0;
    font: inherit;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }

  body {
    margin: 0;
    min-height: 100dvh;
    font-family: var(--font-family-body);
    font-size: var(--font-size);
    color: white;
    background-image: url(../public/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--colorViolet);
    padding: var(--padding);
    /* padding-right: var(--padding-length); */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-family: var(--font-family-headings);
  }

  h1 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
  }

  p {
    text-wrap: pretty;
    text-align: center;
  }

    /*Sección principal*/

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  header {
    width: 100%;
  }

  /* Logo */
  .logo {
    margin-bottom: 50px;
    display: flex;
    align-items: start;
  }

  .logo img {
    width: 50%;
  }


  .section_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section_main .content {
    min-height: 300px;
    padding: var(--padding-length);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .section_main .content button {
    background-color: white;
    color: var(--colorViolet);
    border: none;
    padding: var(--padding);
    width: 200px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .section_main .content button:hover {
    background-color: var(--colorSoftMagenta);
    color: white;
    transition: background-color ease-in-out 0.5s;
  }

  .redes_sociales {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: calc(var(--paddingLength) * 3);
  }

  .redes_sociales .image_icono {
    width: 40px;
    padding: 2px 2px 2px 2px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
  }

  /* Media query para mayor a 375px */
  @media (width > 550px) {
    :root {
      
    }
  
    body {
      background-image: url(../public/images/bg-desktop.svg);
    }

    main {
      /* border: 2px green solid; */
      width: 80%;
      margin: 0 auto;
    }

    .logo img {
      width: 30%;
    }

    .section_main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }

    .section_main .content {
      min-height: auto;
      /* padding: var(--padding-length); */
      justify-content: stretch;
      align-items: start;
      padding-left: 20px;
      /* align-content: start; */
    }

    h1, p {
      text-align: left;
    }

    .section_main .content button {
      /* background-color: white;
      color: var(--colorViolet);
      border: none;
      padding: 10px 10px;
      width: 200px;
      border-radius: 25px; */
    }

    .redes_sociales {
      justify-content: end;
      padding-right: 20px;
      margin-top: var(--paddingLength);
    }

    .redes_sociales .image_icono {
      width: 35px;
    }
  }